<!DOCTYPE html>
<head>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<script>
const setCookie = (name, value, days = 7, path = '/') => {
    const expires = new Date(Date.now() + days * 864e5).toUTCString()
    document.cookie = name + '=' + encodeURIComponent(value) + '; expires=' + expires + '; path=' + path
}

function getCookieValue(a) {
    var b = document.cookie.match('(^|;^|[^;]+)\\s*' + a + '\\s*=\\s*([^;]+)');
    return b ? b.pop() : '';
}
</script>
</head>

<nav class="navbar is-info">
	<div class="container">
        <div class="navbar-brand">
            <a class="navbar-item is-size-4 has-text-weight-bold" href="/">Ultimate Revision</a>
            <a class="navbar-burger" data-target="navbar-menu">
              <span></span>
              <span></span>
              <span></span>
            </a>
        </div>
      <div id="navbar-menu" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/">Home</a>
          <a class="navbar-item" href="/questions">Questions</a>
          <a class="navbar-item" href="/addquestion">Add a question</a>
          <a class="navbar-item" href="/activitylog">Activity log</a>
        </div>
      </div>
	</div>
</nav>

<script>
window.addEventListener("load", function(event) {
	var burger = document.querySelector(".navbar-burger");
	var nav = document.querySelector("#"+burger.dataset.target);
    burger.addEventListener("click", function(){
        burger.classList.toggle("is-active");
        nav.classList.toggle("is-active");
    });
}, false);
</script>