<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
	<section class="section">
		<div class="container">
			<h1 class="title has-text-centered is-1">Welcome to Ultimate Revision</h1>
			<div class="columns is-centered">
				<div class="column has-text-centered is-half is-centered">
                    {% include "flashedmessages.html" %}
					<div class="notification is-light">
						<h2 class="subtitle is-3">Sign up or login</h2>
						<form method="POST">
							<div class="field">
								<label class="label is-large">Username</label>
								<input class="input" name="username" id="username" required>
							</div>
							<div class="field">
								<label class="label is-large">Password</label>
								<input class="input" type="password" name="password" id="password" required>
							</div>
							<input class="button is-medium" type="submit" formaction="/signup" value="Sign up">
							<input class="button is-medium" type="submit" formaction="/login" value="Log in">
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>